<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <div app-customer></div> -->

<!-- <div app-list-customer></div> -->

<!-- <div app-group-customer></div> -->

<!-- <div app-group-customer2></div> -->

<!-- <table>
  <tr>
    <td>
      <button [routerLink]="'customer'">Customer</button>
      <button [routerLink]="'list-customer'">List Customer</button>
    </td>
  </tr>
  <tr>
    <td>
      <a [routerLink]="'customer'" title="Nhan vao de xem chi tiet khach hang">View Customer Details</a>
    </td>
  </tr>
  <tr>
    <td>
      <button [routerLink]="'group-customer'">Group customer</button>
      <button [routerLink]="'group-customer2'">Group customer 2</button>
    </td>
  </tr>
</table> -->


<!-- <div app-my-component></div>

<div app-binding-property-component></div>

<hr>
<div app-binding-class-component></div> -->

<hr>
<div app-binding-style-component></div>

<router-outlet></router-outlet>
