<button [routerLink]="'bai43'">Bài 43 - Books API</button>
<button [routerLink]="'bai45'">Bài 45 - Books Details</button>
<button [routerLink]="'bai47'">Bài 47 - Book New</button>
<button [routerLink]="'bai57'">Bài 57 - Fashion</button>
<button [routerLink]="'bai58'">Bài 58 - Fashion Details</button>
<button [routerLink]="'bai59'">Bài 59 - Fashion New</button>
<button [routerLink]="'bai60'">Bài 60 - Fashion Edit</button>
<button [routerLink]="'bai61'">Bài 61 - Fashion Delete</button>

<router-outlet></router-outlet>
