<p>books works!</p>
{{errMessage}}

<div class="container">
  <h2 class="text-center text-white bg-dark p-3 rounded-4">Books</h2>
  <table class="table table-hover table-striped">
    <tr class="bg-info">
      <th>Book Id</th>
      <th>Book Name</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.BookId}}</td>
        <td>{{book.BookName}}</td>
        <td>{{book.Price}}</td>
        <td><img src="{{book.Image}}" alt="book image" width="50px" height="50px"></td>
      </tr>
    </tbody>
  </table>
</div>
