<p>Practice #5</p>

<h1 [class]="success">Success text style with []</h1>
<h2 class="{{success}}">Success text style h2 with {{"{{}}"}} </h2>

<h1 [class]="error">Error text style with []</h1>
<h2 class="{{error}}">Error text style h2 with {{"{{}}"}} </h2>

<h1 [class]="primary">Primary text style with []</h1>
<h2 class="{{primary}}">Primary text style h2 with {{"{{}}"}} </h2>

<h1 [class]="normal">Normal text style with []</h1>
<h2 class="{{normal}}">Normal text style h2 with {{"{{}}"}}</h2>

<h1 [ngClass]="multiClass">Primary Normal Error text style with []</h1>
<h2 ngClass="{{multiClass}}"></h2>

<h1 [class]="complexity">Text complexity []</h1>
<h2 class="{{complexity}}">Text complexity {{"{{}}"}}</h2>
