<!-- <h2>Welcome to UEL</h2> -->

<!-- <app-second></app-second> -->
<!-- <div class="app-second"></div> -->
<!-- <div app-second></div> -->


<!-- <app-second2 [parentData]="data" (childEvent)="dataFromChild=$event"></app-second2>

<div *ngIf="dataFromChild">
  <p>Data from Child-Component: {{dataFromChild | json}}</p>
</div> -->


<!-- <h2>App Component</h2>
<app-list></app-list>
<app-detail></app-detail> -->

<table>
  <tr>
    <td>
      <button [rooterLink]="cust"></button>
    </td>
  </tr>
</table>

<div app-customer></div>

<div app-list-customer></div>
